
.list-page-container {

  .table-container {

    margin-top: 60px;
    max-width: 100%;
    overflow-x: auto;



    table {

      thead {

        th {
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          padding: 0;
          min-width: 26px;
        }
      }

      tbody{

        td {
          font-size: 8px;
          padding: 0;
          &.full {
            background-color: darkseagreen;

          }
        }


      }

    }

  }

}