
.list-page {



  .table-container {
    margin-top: 60px;
    overflow-x: auto;
    table {
      thead {
        th:first-child{
          width: 15px;
          min-width: 15px;
          max-width: 15px;
          border-left: none;
        }
        th {
          &.today{
            background-color: #7bcaca;
          }
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          padding: 0;
          vertical-align: top;
          min-width: 45px;
          .day-month-date{
            min-height: 36px;
            .day{
              display: inline-block;
              text-align: center;
              min-width: 26px;
            }
            .month-date{
              .month{
                display: inline-block;

                width: 26px;
              }
              .date{
                display: inline-block;
                width: 18px;
              }
            }
          }
        }
      }

      tbody{
        td:first-child{
          width: 15px;
          min-width: 15px;
          max-width: 15px;
          border-left: none;
        }
        td {
          text-align: center;
          font-size: 11px;
          padding: 0;
          width: 26px;
          height: 17px;
          border-left: solid 1px #dadadada;
        }
      }
    }

  }

  .navigation-button-groups {
    display: flex;
    justify-content: space-between;
    button{
      line-height: 0.7;
    }
  }

}
