
.list-page-container {

  .table-container {

    margin-top: 60px;
    //max-width: 1124px;
    overflow-x: auto;



    table {

      thead {

        th {
          text-align: center;
          font-size: 12px;
          font-weight: 500;
          padding: 0;
          vertical-align: top;

          .day{
            display: inline-block;
            text-align: center;
            min-width: 26px;
          }

          .month-date{
            .month{
              display: inline-block;
              //text-align: center;
              width: 26px;
            }
            .date{
              display: inline-block;
              //text-align: center;
              width: 18px;
            }

          }


        }
      }

      tbody{

        td {
          text-align: center;
          font-size: 8px;
          padding: 0;
          width: 26px;
          &.full {
            background-color: darkseagreen;

          }
        }


      }

    }

  }

}