html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.city-container {
  cursor: pointer;
  margin: 5px 0px;
  background-color: #00000013;
  border: solid 1px;
  border-color: #3333;
  border-radius: 2px;
}

.city-name {
  padding: 8px 10px;
  border-bottom: solid 1px #3333;
}

.events-container {
  padding: 2px 10px;
  background-color: #f8f8f8;
}

.link-container {
  margin-right: 30px;
}

.link-container .date-time {
  font-size: 0.8em;
  margin-right: 30px;
}

.link-container .details {
  font-size: 0.8em;
  float: right;
}

.list-page-container h3 {
  margin: 10px 0px;
}

.details-container {
  padding: 10px;
  font-size: 0.8em;
}

